@model List<MealHubProject.Models.Restaurant>
@{
    ViewBag.Title = "FollowedRestaurants";
}

<h1>Followed Restaurants</h1>
<table class="table">
    <thead>
        <tr>
            <th>Restaurant name</th>
            <th>View profile</th>
            <th>Make an order</th>
            <th>Unfollow</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>
                    <b>@restaurant.Username</b>
                </td>
                <td>
                    <a href="/Customer/FollowedRestaurants/Details/@restaurant.Username">
                        <button class="btn btn-primary">View Profile</button>
                    </a>
                </td>



                <td>
                    <a href="/Customer/OrderADelivery/@restaurant.Username">
                        <button class="btn btn-primary">Order</button>
                    </a>
                </td>
                <td>
                    <a href="Unfollow/@restaurant.Id" class="btn btn-primary">
                        Unfollow
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
@section scripts{
    <script>
    $(document).ready(function () {
        $(".table").dataTable();
    });
    </script>
}
