@model List<MealHubProject.Models.Restaurant>
@{
    ViewBag.Title = "MakeAnOrder";
}

    <html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <style>
            body {
            }

            .navb-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                align-content: center;
                height: 10vh;
                background-color: darkblue;
                padding-left: 0px;
                grid-gap: 0.1fr;
            }

            .button {
                font-size: 1.4vw;
                border-color: white;
                color: white;
                transition: 250ms;
            }

                .button:hover {
                    background-color: white;
                    color: black;
                }

            .navb-grid > * {
                margin: auto;
            }

            .navb-grid > div > form > a {
                color: white;
                font-size: 1.5vw;
                text-decoration: none;
                cursor: pointer;
                transition: 250ms;
            }

            .navb-grid > div > a {
                color: white;
                font-size: 1.5vw;
                text-decoration: none;
                cursor: pointer;
                transition: 250ms;
            }

            .navb-grid > div :hover {
                color:dimgrey;
            }

            .tbdiv {
                padding: 15px;
            }

            table {
                width: 15vw;
                font-size: 1.2vw;
            }

            .tb {
                font-size: 1.2vw;
                width: 90%;
            }
        </style>
    </head>
    <body>
        <div class="navb-grid">
            <div>
                <a href="https://localhost:44370/Customer/AvailableRestaurants">
                    Avaiable restaurants
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/FollowedRestaurants">
                    Followed Restaurants
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/MyOrders">
                    My orders
                </a>
            </div>
            <div>
                <a href="https://localhost:44370/Customer/MakeAnOrder">
                    Make an order
                </a>
            </div>
            <div>
                <a href="Profile">
                    Profile
                </a>
            </div>
            <div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                }

            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Restaurant name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>View menu</th>
                    <th>Make an order</th>

                </tr>

            </thead>
            <tbody>
                @foreach (var restaurant in Model)
                {
                    <tr>
                        <td>
                            <b>@restaurant.Username</b>
                        </td>
                        <td>
                            @restaurant.Address
                        </td>
                        <td>
                            @restaurant.Phone
                        </td>
                        <td>
                            <a href="/Customer/FollowedRestaurants/Details/@restaurant.Username">
                                <button class="btn btn-primary" style="font-size:1.2vw">View Profile</button>
                            </a>
                        </td>
                        <td>
                            <a href="../Customer/OrderADelivery/@restaurant.Username">
                                <button class="btn btn-primary" style="font-size:1.2vw">
                                    Order
                                </button>
                            </a>
                        </td>



                    </tr>
                }

            </tbody>
        </table>
        @section scripts{
            <script>
                $(document).ready(function () {
                    $(".table").dataTable();
                });
            </script>
        }

